@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-white {
    width: auto;
  }
}

/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 400px) {
  .container {
    width: 200px;
  }
}

@property --timer {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --v2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.value{
  transition: --timer 1s;
  --temp: calc(var(--timer));
  --v1: max(var(--temp) - 0.5, 0);
  --v2: max((var(--temp) - var(--v1)) * 100 - 0.5, 0);
  counter-reset: v1 var(--v1) v2 var(--v2);
}

.value::before {
  content: counter(v1) ":" counter(v2, decimal-leading-zero) " am Everyday ";
}
View Compiled

#my-video {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}


body {
  font-family: Bebas Neue;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Bebas Neue;
}

p {
  font-family: Bebas Neue;
  color: #fff;
  text-align: center;
  font-size: 18px;
  opacity: .7;
}

.container {
  margin: auto;
  width: 100%;
  font-family: Bebas Neue;
}

.container h1 {
  color: white;
  margin: 0;
}

.free-run {
  color: red;
  text-align: center;
  font-size: 100px;
}

.button-white {
  background-color: black;
  color: white;
  border-radius: 16px;
  border: 2px solid white;
  text-decoration: none;
  transition: .3s;
  height: 28px;
  width: 160px;
  text-align: center;
  padding-top: 8px;
  margin-right: 24px;
}

.button-white:hover {
  background-color: white;
  color: black;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flex-item img {
  height: 80px;
  width: 130px;
  margin-left: 24px;
}

.bg {
  background-color: #000;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
}

.cards {
  padding: 200px 0 200px 0;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.duration {
  font-size: 80px;
  color: white;
  text-align: center;
}
.location {
  font-size: 80px;
  color: white;
  text-align: center;
}
.time {
  font-size: 80px;
  color: white;
  text-align: center;
}
.description {
  font-size: 20px;
  color: white;
  text-align: center;
}

.footer {
  background-color: #000;
  text-align: center;
  /* padding: 24px 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: white;
}

.footer a{
  color: white;
  text-decoration: none;
}

.qr-code {
  font-size: 34px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qr-code a {
  text-decoration: none;
  color: red;
}

.js-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ParaContent {
  background-color: #000;
  padding: 50px 0px;
  opacity: 0.7;
}

.ParaVideo {
  /* if you want to start with the video first than scroll this is where height needs to be changed */
  /* height: 300px; */
  padding: 50px 0px;
}

.ParaVideo video {
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}

.ParaCards {
  width: 100%;
  /* height: 400px; */
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 100px 0px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1%;
  background-color: #000;
  text-align: center;
  padding: 24px 0;
  word-spacing: 8px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.owner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner h3 {
  color: #fff;
}
